[run]
omit =
    *apps.py,
    *migrations/*,
    *settings*,
    *tests/*,
    *urls.py,
    *wsgi.py,
    manage.py,
    tests.py,
    *myfundoonote/asgi.py,
    *Notes/migrations*,
    *labels/migrations*,
    *labels/apps.py*,
    *Notes/apps.py*,